
{% extends 'base.html' %}
{% block heeader %}
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
{% for item in object_list %}
    
<div class="alert alert-{{item.priority}}" role="alert">
    <p>{{ item.word }}  登録日:{{ item.duedate}}</p>
    <a href="{% url 'update' item.pk %}" class="btn btn-warning " tabindex="-1" role="button" aria-disabled="true">編集</a>
    <a href="{% url 'delete' item.pk %}" class="btn btn-danger " tabindex="-1" role="button" aria-disabled="true">削除</a>
    <a href="{% url 'detail' item.pk %}" class="btn btn-danger " tabindex="-1" role="button" aria-disabled="true">詳細</a>
</div>
{% endfor %}
</div>
{% endblock content %}